* {
    box-sizing: border-box;
}

#name-title {
    background-color: pink;
    color:white;
}
#student-dev {
    color:yellow;
}
.about-me {
    color:chartreuse;
}
.skill-list {
    color:lightblue;
    display:flex;
    display:inline-flex;
    padding: left 50%;
}
.project-box {
    
    height:100px;
    background-color:aliceblue;
    border: 5px solid darkorange;
}
.bottom-text {
    color:white;
}
html {
    background-color: darkgray;
}